#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.prompt {
  text-align: left;
}

.messages {
  height: 200px;
  margin-top: 20px;
}

.copy-short-url {
  background-color: #3b3b3b;

}

.success-message a {
  color: #8a2be2;
}

.success-message a:hover {
  color: #af6fdf;
}

.display-short-url {
  display: flex;
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Align items vertically */
  margin-top: 10px;
}